---
import type { Playlist } from "../lib/data.ts";

interface Props {
	playlist: Playlist;
}

const { playlist } = Astro.props;
const { id, cover, title, artists, color } = playlist;

const artistsString = artists.join(", ");
---

<a
	href={`/playlist/${id}`}
	class="playlist-item flex relative p-2 items-center gap-5 rounded-md hover:bg-[#1A1A1A] mr-2"
>
	<picture class="size-12 flex-none">
		<img
			src={cover}
			alt=`Cover of ${title} by ${artistsString}`
			class="object-cover size-full rounded-md"
		/>
	</picture>
    
    <div class="flex flex-auto flex-col truncate ">
        <h4 class="truncate">
            {title}
        </h4>

        <span class="flex truncate text-sm text-[#A4A4A4]">
            {artistsString}
        </span>

    </div>
</a>

